.DS_Store
!build/icons
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
/node_modules/
.babelrc
.electron-vue/
.eslintignore
.eslintrc.js
.gitignore
.idea/
.travis.yml
README.md
appveyor.yml
dist/electron/.gitkeep
dist/web/
package.json
yarn.lock
dist/electron/main.js
