.DS_Store
dist/electron/*
dist/web/*
build/*
!build/icons
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
/node_modules/
.babelrc
.electron-vue/
.eslintignore
.eslintrc.js
.gitignore
.idea/
.travis.yml
README.md
appveyor.yml
build/
dist/electron/.gitkeep
dist/web/
package.json
src/
static/
yarn.lock
